@charset "UTF-8";
article, aside, figure, figcaption, footer, header, nav, section {
    display: block;
}

body {
    padding:5px 10px;
}

#contact_tab ul li {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    list-style: none;
    line-height: 22px;
}

#contact_tab a {
    text-decoration: none;
}

.uline {
    text-decoration: underline;
}

.inline_list {
    display: inline-block;
    list-style-type: none;
}

.em-text {
    font-style: italic;
    color: #A22;
}

.contact-icon {
    width:24px;
    margin-right:8px;
}

.bold {
    font-weight: bold;
}

.reference-contact {
    color: #8F182A !important;
    font-style: italic;
}
