@charset "UTF-8";
article, aside, figure, figcaption, footer, header, nav, section {
    display: block;
}

#portfolio_tab a {
    text-decoration: none;
}

#portfolio_tab img {
    width:250px;
    border:3px solid #cccccc;
    border-radius: 5px;
    margin: 6px;
    box-shadow: 2px 2px 6px #C0C0C0;
}

.title {
    font-size: 40px;
    font-size: 2.5rem;
    font-weight: 100;
    color: #493012;
    text-shadow: 2px 2px 8px rgba(73, 48, 18, 0.4);
    margin:8px;
}

@media only screen and (max-width: 530px) {
    .title {
        font-size: 32px;
        font-size: 2rem;
    }
}

@media only screen and (max-width: 440px) {
    .title {
        font-size: 24px;
        font-size: 1.5rem;
    }
}
