@charset "UTF-8";
article, aside, figure, figcaption, footer, header, nav, section {
    display: block;
}

body {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size:16px;
    font-size:1rem;
}

hr {
    width:80%;
    margin: 6px auto;
    text-align: center;
}

#resume_content {
    max-width: 1024px;
}

#toc, #toc_tab {
    position: fixed;
    top: 145px;
    left: 11px;
    background-color: antiquewhite;
    border-top:1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    padding:3px 5px;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.15);
}

#toc {
    width:240px;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
    line-height: 25px;
    line-height: 1.5rem;
}

#toc li {
    list-style-type: none;
    margin-left: 15px;
}

#toc h4 {
    text-align: center;
}
#toc a {
    text-decoration: none;
}

#toc a:hover {
    color: #606070;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

#toc a:active {
    color: #A0A0B0;
    text-shadow: -1px -1px 3px rgba(0, 0, 0, 0.3);
}

#toc_tab {
    height:24px;
    width: 24px;
    cursor: pointer;
}

#toc_tab img {
    width:24px;
    height:24px;
    opacity: 0.25;
}

#toc_tab img:hover {
    opacity: 1;
}

#linkedin_logo {
    width:120px;
    margin:auto;
}

.statement {
    width: 85%;
    margin: 9px 18px;
    font-size: 16px;
    font-size: 1rem;
    font-style: italic;
}

.hidden {
    display: none;
}

.faux_hidden {
    font-size:1px;
    line-height: 0;
    margin-top: 3px;
    color:white;
}

.resume {
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    line-height: 20px;
    line-height: 1.25rem;
}

.resume h1 {
    text-align: left;
    font-size:28px;
    font-size:1.75rem;
    line-height: 40px;
    line-height: 2.5rem;
}

.resume h1 a {
    text-decoration: none;
    color: #000000;
}

.resume h1 a:hover {
    text-decoration: underline;
    color: #606070;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.resume h1 a:active {
    color: #A0A0B0;
    text-shadow: -1px -1px 3px rgba(0, 0, 0, 0.3);
}

/* It appears that there are no h2s
.resume h2 {
    font-size: 22px;
    font-size: 1.375rem;
    font-style: normal;
}
*/

.resume h3 {
    text-align: left;
    font-size: 18px;
    font-size: 1.125rem;
    margin:24px 0 12px 0;
}

.resume p, li {
    line-height: 24px;
    line-height: 1.5rem;
}

.level1 {
    margin-left:28px;
    margin-left: 1.75rem;
    font-size: 16px;
    font-size: 1rem;
    list-style-type: none;
}

.job-title {
    font-size:17px;
    font-size:1.125rem;
    margin-bottom: 0;
    margin-top: 20px;
}

.sub {
    margin-left: 44px;
    margin-left: 2.75rem;
}

.level2 {
    margin-left:40px;
    margin-left: 2.5rem;
    font-size: 15px;
    font-size: 0.9375rem;
    list-style-type: none;
}

.float-right {
    float: right;
}

.contact {
    margin-left: 20px;
    font-size: 15px;
    font-size: 0.9375rem;
}

.contact li {
    list-style: none;
    display: inline;

}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.4);
}

a:hover {
    color: rgba(32, 128, 255, 0.85) !important;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
}

a:active {
    color: rgba(255, 128, 32, 0.85) !important;
}

@media only screen
    and (max-width: 800px) {
    #toc li {
        line-height: 32px;
        line-height: 2rem;
    }

    .resume {
        line-height: 18px;
        line-height: 1.125rem;
    }

    .resume h1 {
        font-size:20px;
        font-size:1.25rem;
        line-height: 32px;
        line-height: 2rem;
    }


    .resume h3 {
        font-size: 16px;
        font-size: 1rem;
        /* Check this */
        margin:24px 0 12px 0;
    }

    /*.resume p, li {
        line-height: 20px;
        line-height: 1.25rem;
    }*/

    .statement {
        width: 93%;
        margin: 9px 18px;
        font-size: 14px;
        font-size: 0.875rem;
    }

    .level1 {
        /* check margins */
        margin-left:28px;
        margin-left: 1.75rem;
        font-size: 14px;
        font-size: 0.875rem;
    }

    .job-title {
        font-size:15px;
        font-size:0.9375rem;
        margin-bottom: 0;
        margin-top: 16px;
    }

    .sub {
        /* Check this... */
        margin-left: 44px;
        margin-left: 2.75rem;
    }

    .level2 {
        /* Check margins... */
        margin-left:40px;
        margin-left: 2.5rem;
        font-size: 13px;
        font-size: 0.8125rem;
    }

    .contact {
        font-size: 13px;
        font-size: 0.8125rem;
    }

}

@media only screen
and (max-width: 400px) {
    #toc li {
        line-height: 38px;
        line-height: 2.25rem;
    }

    .resume {
        line-height: 16px;
        line-height: 1rem;
    }

    .resume h1 {
        font-size:15px;
        font-size:0.9375rem;
        line-height: 20px;
        line-height: 1.25rem;
    }


    .resume h3 {
        font-size: 14px;
        font-size: 0.875rem;
        /* Check this */
        margin:24px 0 12px 0;
    }

    /*.resume p, li {
        line-height: 16px;
        line-height: 1rem;
    }*/

    .statement {
        width: 97%;
        margin: 9px 18px;
        font-size: 11px;
        font-size: 0.6875rem;
    }

    .level1 {
        /* check margins */
        margin-left:28px;
        margin-left: 1.75rem;
        font-size: 11px;
        font-size: 0.6875rem;
    }

    .job-title {
        font-size:12px;
        font-size:0.75rem;
        margin-bottom: 0;
        margin-top: 14px;
    }

    .sub {
        /* Check this... */
        margin-left: 44px;
        margin-left: 2.75rem;
    }

    .level2 {
        /* Check margins... */
        margin-left:40px;
        margin-left: 2.5rem;
        font-size: 10px;
        font-size: 0.625rem;
    }
    .contact {
        font-size: 10px;
        font-size: 0.625rem;
    }
}