@charset "UTF-8";
/* Bryan L. Pratt */
body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

img {
    width:160px;
    height:120px;
    border-radius: 5px;
}

h2 {
    color: #A33;
}

h3 {
    font-size: 13px;    /* I use 'px' for the font-size unit as fall back from browsers that don't support 'rem'. */
    font-size: 0.8125rem;
    display: inline;
}

td {
    padding:10px 20px;
}

input {
    margin-left: 1rem;
}

#image {
    float:left;
}

#content_wrapper {
    width:900px;
    margin:auto;
}

#quiz_wrapper {
    border-top:1px solid #C0C0C0;
    border-bottom: 1px solid#C0C0C0;
}

#quiz_question {
    font-size: 12px;
    font-size: 0.75rem;
}

#floating_main_link {
    font-size:12px;
    font-style: italic;
    font-weight: 100;
    line-height: 14px;
    padding:3px 8px;
    background-color: rgba(255, 255, 255, .85);
    border: 1px solid rgba(55, 55, 55, .85);
    border-radius:14px;
    color: rgba(33, 66, 33, .85);
    opacity: 0.2;
    position: fixed;
    top: 5px;
    left: 5px;
    cursor: pointer;
}

#floating_main_link:hover {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

#floating_main_link:active {
    box-shadow:inset 1px 1px 5px rgba(0, 0, 0, 0.5);
}

#credits {
    font-size: 12px;
    font-size: 0.75;
}

#credits a, #another_quiz a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.4);
}

#credits a:hover, .selection-wrapper a:hover, #another_quiz a:hover {
    color: rgba(32, 128, 255, 0.85);
}

#credits a:active, .selection-wrapper a:active, #another_quiz a:active {
    color: rgba(255, 128, 32, 0.85);
}

.btn {
    margin-left:10px;
    cursor: pointer;
}

.hidden {
    display: none;
}

.selection-wrapper {
    width: 420px;
    height: 150px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -210px;
    margin-top: -75px;
    border: 1px solid #68A;
    border-radius: 10px;
}

.selection-wrapper h1 {
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: 100;
    padding: 0 10px;
}

.selection-wrapper p, li {
    font-size: 14px;
    font-size: 0.875rem;
}

.selection-wrapper ul {
    list-style-type: none;
}

.selection-wrapper a {
    color: rgba(96, 0, 0, 0.9);
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.submit_status {
    background-color: #AA3333;
    color: white;
}

.warning {
    display: none;
    color: #b85e63;
    font-weight: bold;
    font-style: italic;
    font-size: 13px;
    font-size: 0.8125rem;
}

.answer {
    font-style: italic;
    display: inline;
    margin-bottom: 10px;
}

.answers_wrapper {
    border:5px solid #b85e63;
    box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin-top: 10px;
}

.answers {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 16px;
    margin:0;
}

.ques {
    font-weight: bold;
    color: #b85e63;
}

.ans {
    font-weight: bold;
    color: #376837;
}

.correct, .incorrect {
    font-style: italic;
    font-weight: bold;
    color: #009600;
}

.incorrect {
    color: #9A0000;;
}

.disabled {
    opacity: 0.35;
    cursor: default;
}

.tiny-img {
    width: 60px;
    height: 45px;
}